<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="https://www.facebook.com/cinesecIITR/">Facebook</a></li>
            <li><a href="https://www.youtube.com/user/cineseciitr">Youtube</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
          </ul>
        </div>
        <p>Copyright &copy; <a href="//cinesec.in">Cinesec IIT Roorkee</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
